footer {
    margin: 20px 0 20px 0;
    padding: 20px 10px;
    /* border-top: 2px solid #D289AA; */
    /* background-color: rgb(75, 75, 75); */
}

#countdown-timer {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 400px) {
    #countdown-timer {
        font-size: 12px;
   }
 }