* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    /* overflow-x: hidden; */
    font-size: 10px;
    font-family: 'Lobster', cursive;
}

.curved-radius {
    border-radius: 8px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container-fluid {
    /* padding: 0; */
}

button {
    outline: none;
}

button:active {
    outline: none;
}

button:visited {
    outline: none;
}