/* Heading */

.section {
    padding: 20px 0;
}

.space-between {
    margin: 20px 0;
}

.highlight {
    color: #E8D5DB;
}

/*  Mobile Responsive  */

@media only screen and (max-width: 448px) {
  
}